.api-docs{
    background-color: #fff;
    padding: 10px;
}
.api-docs .views-field-title {
    width: 35%;
}
.api-docs tr.protected td.views-field-title a {
    background-position: 0 -543px;
    background-repeat: no-repeat;
    padding-left: 18px;
}
.api-docs .views-field-body {
    width: 65%;
}
table caption {
    font-weight: normal;
    text-align: left;
}