/* bootstrap overload */
body {  
    padding-top: 60px;
    padding-bottom: 40px;
    background: url(/images/white_brick_wall.png);
}

/* end bootstrap overload*/

.title-nav img{
    height: 20px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 20px;
}

.title-nav .avatar{
    padding-left: 20px;
}

body .select2-container{
    margin-left: 0;
    margin-bottom: 10px;
}

.ach-list{
    overflow: hidden;
}


.tags-list{
    margin: 6px 10px 0 0;
    
}
.tags-list ul{
    margin: 0;
    padding: 4px 6px;
    border: 1px solid #eee;
}
.tags-list ul li{
    list-style: none;
    margin: 4px 0;
}
.tags-list ul li input{
    margin: 0 0 0 6px;
}
.tags-list ul li label{
    display: inline;
}
.selected-tags-list{
    margin: 6px 0 10px 0;
}
.selected-tags-list ul{
    margin: 0;
}
.selected-tags-list li{
    list-style: none;
    margin: 0 8px 4px 0;
}
.tags-list .search-tag a.active i{
    display: inline-block;
}
.tags-list .search-tag a i{
    display: none;
}

/* by @gurov */
.ach-container fieldset {
	padding: 10px;
	border: 1px solid #ccc;
}

.ach-container legend {
	display: block;
	width: auto;
	padding: 2px 8px;
	margin-bottom: 0px;
	font-size: 100%;
	line-height: normal;
	color: #333333;
	border: 0;
	
}

.ach-container .progress {
	height: 30px;
	margin-bottom: 0px;
}

.ach-container .tags a{
	color: #444;
	font-size: 10px;
	padding: 2px 5px 2px 0;
}
.ach-container .tags a:hover{
	color: #274F7D;
}
.ach-container .accordion {
	margin-bottom: 0px;
}
.ach-container .ach-status-container{
    text-align: right;
}
.ach-container .ach-status-container span{
    text-align: center;
}
.ach-container .accordion-group {
margin-bottom: 0px;
border: none;

}

.ach-container .accordion-heading .accordion-toggle {
display: block;
padding: 8px 0px 0 0 ;
}

.ach-container .accordion-heading .accordion-toggle{
	font-size: 12px;
	color: #04356C;
}

.ach-container .us{
	margin-left: 15px;
	padding-left: 15px;
	border-left: 1px solid red;
	position: relative;
}

.ach-container .us .table {
margin-top: 20px;
}
.ach-container .us .lbl{
	position: absolute;
	left: -10px;
	top: -5px;
	color: red;
	font-weight: bold;
	font-size: 10px;
}
/* end by @gurov */

.accordion-toggle .icon-plus-sign, 
.accordion-toggle.collapsed .icon-minus-sign{
    display: none;
}
.accordion-toggle.collapsed .icon-plus-sign, 
.accordion-toggle .icon-minus-sign{
    display: inline-block;
}
.user-level-progress{
    margin: 10px 15px;
    
}
.user-level-progress .bar{
    color: #222;
    text-shadow: 0 0px 4px rgba(255,255,255,0.8);
    font-weight: bold;
    padding-left: 2px;
}
.latest-actions-list, 
.latest-approvements-list{
    margin: 0;
}
.latest-actions-list li, 
.latest-approvements-list li{
    list-style: none;
    margin: 16px 0;
}
.rules-saw{
    background: no-repeat url('/images/saw.png');
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* new */
.navbar-inner {
    background: url(/images/random_grey_variations.png);
    color: white;

}
.navbar .nav > li > a {
    color: white;
    font-weight: bold;
    text-shadow: none;
}
.navbar .nav > li > a:hover {
    color: white;
    text-decoration: underline;	
}

.navbar .brand {
    color: white;
    font-weight: bold;
    text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border-bottom: 2px solid #00e1ff;
    border-radius: 7px;
    color: white;
    background: rgba(0,255,255,0.1);
}

.tag{
    background-color: #fff;
    padding: 3px 7px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.ach-form-desc{
    margin: 0 0 18px 0;
    color: #666666;
}